<body>
  <div class="week-container">
      <div class="day">
          <h3>Sunday</h3>
          <ul>
            <li *ngFor="let note of notesByDay['sunday']">
              {{note.description}}
              <button class="delete" (click)="deleteNotes(note.id)">Complete</button>
            </li>
          </ul>
      </div>
      <div class="day">
          <h3>Monday</h3>
          <ul>
            <li *ngFor="let note of notesByDay['monday']">
              {{note.description}}
              <button class="delete" (click)="deleteNotes(note.id)">Complete</button>
            </li>
          </ul>
      </div>
      <div class="day">
          <h3>Tuesday</h3>
          <ul>
            <li *ngFor="let note of notesByDay['tuesday']">
              {{note.description}}
              <button class="delete" (click)="deleteNotes(note.id)">Complete</button>
            </li>
          </ul>
      </div>
      <div class="day">
          <h3>Wednesday</h3>
          <ul>
            <li *ngFor="let note of notesByDay['wednesday']">
              {{note.description}}
              <button class="delete" (click)="deleteNotes(note.id)">Complete</button>
            </li>
          </ul>
      </div>
      <div class="day">
          <h3>Thursday</h3>
          <ul>
            <li *ngFor="let note of notesByDay['thursday']">
              {{note.description}}
              <button class="delete" (click)="deleteNotes(note.id)">Complete</button>
            </li>
          </ul>
      </div>
      <div class="day">
          <h3>Friday</h3>
          <ul>
            <li *ngFor="let note of notesByDay['friday']">
              {{note.description}}
              <button class="delete" (click)="deleteNotes(note.id)">Complete</button>
            </li>
          </ul>
      </div>
      <div class="day">
          <h3>Saturday</h3>
          <ul>
            <li *ngFor="let note of notesByDay['saturday']">
              {{note.description}}
              <button class="delete" (click)="deleteNotes(note.id)">Complete</button>
            </li>
          </ul>
      </div>
  </div>

  <div class="input">
    <div class="options">
      <select id="dayOfWeek">
        <option value="sunday">Sunday</option>
        <option value="monday">Monday</option>
        <option value="tuesday">Tuesday</option>
        <option value="wednesday">Wednesday</option>
        <option value="thursday">Thursday</option>
        <option value="friday">Friday</option>
        <option value="saturday">Saturday</option>
      </select>

      <input id="newNotes" placeholder="Task...">
    </div>
    <button (click)="addNotes()">Add Task</button>
  </div>
</body>
