<body>
  <div class="week-container">
      <div class="day">
          <h3>Sunday</h3>
          <ul>
            <li *ngFor="let note of notesByDay['sunday']">
              {{note.description}}
              <button (click)="deleteNotes(note.id)">Complete</button>
            </li>
          </ul>
      </div>
      <div class="day">
          <h3>Monday</h3>
          <ul>
            <li *ngFor="let note of notesByDay['monday']">
              {{note.description}}
              <button (click)="deleteNotes(note.id)">Complete</button>
            </li>
          </ul>
      </div>
      <div class="day">
          <h3>Tuesday</h3>
          <ul>
            <li *ngFor="let note of notesByDay['tuesday']">
              {{note.description}}
              <button (click)="deleteNotes(note.id)">Complete</button>
            </li>
          </ul>
      </div>
      <div class="day">
          <h3>Wednesday</h3>
          <ul>
            <li *ngFor="let note of notesByDay['wednesday']">
              {{note.description}}
              <button (click)="deleteNotes(note.id)">Complete</button>
            </li>
          </ul>
      </div>
      <div class="day">
          <h3>Thursday</h3>
          <ul>
            <li *ngFor="let note of notesByDay['thursday']">
              {{note.description}}
              <button (click)="deleteNotes(note.id)">Complete</button>
            </li>
          </ul>
      </div>
      <div class="day">
          <h3>Friday</h3>
          <ul>
            <li *ngFor="let note of notesByDay['friday']">
              {{note.description}}
              <button (click)="deleteNotes(note.id)">Complete</button>
            </li>
          </ul>
      </div>
      <div class="day">
          <h3>Saturday</h3>
          <ul>
            <li *ngFor="let note of notesByDay['saturday']">
              {{note.description}}
              <button (click)="deleteNotes(note.id)">Complete</button>
            </li>
          </ul>
      </div>
  </div>
</body>
