app-body1 {
  height: 500px; /* Takes up all available space */
  display: flex; /* Makes it a flex container */
  flex-direction: column; /* Aligns children vertically */
  padding: 0px;
  width: 100%; /* Full width */
}

:host {
  display: block;
  background-color: #ff6347; /* Vibrant red color */
  width: 100vw; /* Ensures full viewport width */
  height: 90px;
  box-sizing: border-box; /* Include padding and border in width and height */
  position: relative; /* Ensures the header is positioned relative to its normal position */
  left: 50%; /* Push it to the right by half of its own width */
  right: 50%; /* Pull it to the left by half of its own width */
  transform: translateX(-50%); /* Offset by negative half of its own width to center exactly */
}
